.fighter-preview___root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
}

.fighter-preview___root h2 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  min-width: 120px;
  background-color: rgb(0, 0, 0);
  color: #ff5100;
  border: 1px solid rgba(255, 255, 255, 0.527);
  box-shadow: 0px 0px 19px 4px rgba(255, 146, 0, 1);
}

.fighter-preview___root ul {
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 100%;
}

.fighter-preview___root ul div {
  display: block;
  max-width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgb(9, 255, 0);
}

.fighter-preview___right,
.fighter-preview___left {
  align-items: baseline;
  height: 240px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___right img,
.fighter-preview___left img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}